/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:root {
--primary-font-color: #D4C045;
--border-color: #D4C045;
--drink-bg-color: #452f10;
--food-bg-color: #4E5E4F;
--product-dark-text-color: #152F33;
--textbox-bg-color: #152F33;
}

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #0B191B;
  letter-spacing: 0.1rem;
  font-size: 18px;
  padding: 1rem;
  color: var(--primary-font-color);
}

#logo-container {
    display: flex;
    font-size: 2rem;
    margin-bottom: 1rem;
    align-items: center;
}

#logo-container img {
    max-width: 64px;
    margin-right: 1rem;
}

#epos-container {
    display: flex;
    gap: 1em;
    max-width: 1024px;
}

#products-and-ingredients {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    gap: 1em;
}

#product-selection-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5em;
}


#order-contents {
    flex-grow: 2;
}

h2 {
    font-size: 1.5rem
}

#product-selection-grid, #order-contents, #ingredients-panel {
  color: var(--primary-font-color);
  border: 1px solid #D4C045;
  padding: 1rem;
}

#ingredients-list li {
    display: flex;
    font-size: 0.9rem;
}

#order-list {
    padding-left: 0;
    padding-bottom: 0.25em;
}

#order-cost, #order-rrp {
    padding-left: 0.275em;
}

#order-list li {
    display: grid;
    grid-template-columns: 2.75fr 0.5fr 0.25fr;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75em;
    margin-bottom: 0.275rem;
}

.order-totals {
    border-top: 1px solid #D4C045;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.25fr;
    padding-top: 0.75em;
}

.item-order-qty, #order-charge {
    border: 1.5px solid var(--border-color);
    padding: 0.1rem 0.1rem 0.1rem 0.325rem;
    background-color: #152F33;
    max-width: 86px;
}

.order-list-row {
  display: flex;
}

.btn-product {
    color: #EEEEEE;
    border-radius: 5px;
    width: 110px;
    min-height: 3.5rem;
    text-align: center;
    line-height: 1.25rem;
    padding: 0 0.25em;
    font-size: 0.9rem;
}

.btn--coffee {
  background-color: var(--drink-bg-color);
}

.btn--premium-coffee {
  background-color: #5E5553;
}

.btn--snack {
  background-color: var(--food-bg-color);
}

.btn--granita {
  background-color: #9BBFCC;
  color: #111111;
}

.btn--forbidden {
  background-color: #612823;
}

.btn--spring-special {
    background-color: #4EC979;
}

.btn--summer-special {
    background-color: #e2d688;
}

.btn--fall-special {
  background-color: orange;
}

.btn--winter-special {
    background-color: #dcf4f4;
}

.btn--spring-special,
.btn--summer-special,
.btn--fall-special,
.btn--winter-special,
.btn--granita {
    color: var(--product-dark-text-color);
    font-weight: 600;
}

.btn-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-remove {
  background-color: #612823;
  border-radius: 100%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  width: 0.85em;
  height: 0.85em;
  background-image: url('x-mark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.375em;
}

input[type='checkbox'] {
    position: relative;
    height: 30px; width: 30px;
}

input[type='text'] {
    position: relative;
    display: flex;
    height: 100%; width: 100%;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border: 3px solid var(--border-color);
    border-radius: 3px;
    background-color: transparent;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 20px;
    border: solid var(--border-color);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 12px;
}

.totals-label {
    grid-column: 1;
}

.totals-input {
    grid-column: 2;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #0B191B;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 